* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell .cordinates {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
}

.cell img {
  position: relative;
  width: 48px;
  height: 48px;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: #eed4ac;
}

.selected {
  background-color: brown;
}

.availabe {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.axis {
  position: absolute;
  display: flex;
}

.axis.x {
  bottom: -25px;
  right: 50%;
}

.axis.x .direction {
  position: relative;
  top: 1px;
  right: -5px;
}

.axis.y {
  flex-direction: column;
  right: -25px;
  top: 50%;
}

.axis.y .direction {
  position: relative;
  transform: rotateZ(90deg);
  top: 5px;
  right: 3px;
}